@forward 'element-plus/theme-chalk/src/common/var.scss' with (
$colors: (
'primary': (
'base': #fa0,
),
),
);

@use 'element-plus/theme-chalk/src/base' as *;
@use 'element-plus/theme-chalk/src/button' as *;
@use 'element-plus/theme-chalk/src/color-picker' as *;
@use 'element-plus/theme-chalk/src/dialog' as *;
@use 'element-plus/theme-chalk/src/dropdown' as *;
@use 'element-plus/theme-chalk/src/dropdown-item' as *;
@use 'element-plus/theme-chalk/src/dropdown-menu' as *;
@use 'element-plus/theme-chalk/src/form' as *;
@use 'element-plus/theme-chalk/src/form-item' as *;
@use 'element-plus/theme-chalk/src/icon' as *;
@use 'element-plus/theme-chalk/src/input' as *;
@use 'element-plus/theme-chalk/src/input' as *;
@use 'element-plus/theme-chalk/src/loading' as *;
@use 'element-plus/theme-chalk/src/message' as *;
@use 'element-plus/theme-chalk/src/message' as *;
@use 'element-plus/theme-chalk/src/overlay' as *;
@use 'element-plus/theme-chalk/src/popper' as *;
@use 'element-plus/theme-chalk/src/scrollbar' as *;
@use 'element-plus/theme-chalk/src/switch' as *;
@use 'element-plus/theme-chalk/src/tab-pane' as *;
@use 'element-plus/theme-chalk/src/table' as *;
@use 'element-plus/theme-chalk/src/table-column' as *;
@use 'element-plus/theme-chalk/src/tabs' as *;
@use 'element-plus/theme-chalk/src/upload' as *;

* {
  margin  : 0;
  padding : 0;
}

body {
  padding    : 0.5em;
  min-height : 400px;
}

html, body {
  width      : 400px;
  box-sizing : border-box;
  overflow   : hidden;
}
