.translations {
    font-family: "Microsoft YaHei", Inter, serif;
    font-size: 14px;
    position: fixed;
    text-decoration: none;
    text-shadow: none;
    transform-origin: top left;
    translate: 10px 10px;
    width: max-content;
    z-index: 2147483647;
}

.translation {
    border-radius: 5px;
    margin: 5px 0;
    max-width: 400px;
    overflow: hidden;
    padding: 0.25em;
    white-space: break-spaces;
    width: max-content;
    word-break: break-word;
}

.translation > div {
    font-size: 14px;
    margin: 0.25em 0.5em;
}

.translation .word {
    font-size: 16px;
}

.translation > div:not(:first-child)::before {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;
    content: attr(data-prefix);
    display: inline-block;
    min-width: 35px;
    padding: 0 5px;
    width: fit-content;
}

.translation .word {
    font-weight: bold;
}
